body {
    background-image: linear-gradient(to left, #232937, #212838, #1f283a, #1d273b, #1b263c, #1c273c, #1e283d, #1f293d, #242c3d, #292f3d, #2e323d, #32353d);
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: #b8a87d;
}

/* ======================================================================= */
header {
    position: fixed;
    width: 460px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.head_container {
    display: flex;
    justify-content: space-between;
    color: #b8a87d;
    margin: 0 0 20px 0;
    padding: 10px 20px;
    background-color: #314c69;
}

h1 {
    font-size: 30px;
    margin: 0;
}

.head_container i {
    margin: auto 0px auto 20px;
    display: block;
    font-size: 35px;
}

.header_button{
    border: none;
    outline: none;
    background: none;
    color: #b8a87d;
    cursor: pointer;
    transition: 0.2s ease;
}

.header_button:hover{
    color: #b6b4af;
}

.main_section {
    margin: 0 auto;
    width: 500px;
    min-height: 100vh;
    background-color: #151b27;
    text-align: center;
}

.content_container {
    margin: 0;
    padding: 54px 0 20px 0;
}

/* ======================================================================= */
.user_contact {
    margin: 20px auto 0 auto;
    display: flex;
    background-color: #3b6084;
    width: 460px;
}

.active_block{
    box-shadow: 0 0 5px 5px #b8a87d;
}

.user_image_container {
    display: inline-block;
    overflow: hidden;
}

.user_image_container img {
    width: 120px;
    height: 120px;
    display: block;
    object-fit: cover;
    transition: 0.5s;
    background-color: #fff;
}

.user_contact img:hover {
    transform: scale(1.05);
}

.user_information {
    margin: auto 0;
}

.user_information p {
    font-size: 20px;
    text-align: center;
    width: 320px;
    padding: 0 10px;
    color: antiquewhite;
    margin: 0;
}

.user_name {
    margin: 0 0 10px 0 !important;
}

/* ======================================================================= */
.button {
    width: 130px;
    height: 40px;
    font-size: 12px;
    letter-spacing: 1px;
    border-radius: 40px;
    color: #fff;
    background: #b8a87d;
    border: 2px solid #b8a87d;
    position: absolute;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.25s ease;
}

.btn_add_new {
    position: fixed !important;
}

.button:hover {
    color: #b8a87d;
    background: #fff;
}

.button:active {
    letter-spacing: 4px;
}

.btn1 {
    left: 25%;
    top: 83%;
}

.btn2 {
    left: 75%;
    top: 83%;
}

/* =================================================== POPUP */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup_content{
    transform: translate(0px,0px);
    opacity: 1;
}

.popup_body {
    min-height: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    transition: all 0.8s ease 0s;
}

.popup_content {
    background-color: #314c69;
    width: 460px;
    padding: 20px 20px 110px 20px;
    z-index: 20;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: translate(0px, 100%);
}

.popup_close {
    right: 10px;
    top: 10px;
    font-size: 13px;
    color: #808080;
    margin: -22px -15px 0 0;
    text-decoration: none;
}

.popup_close:hover {
    color: #363636;
}

input {
    font-size: 18px;
    border: 2px solid #e9e9e9;
    padding: 12px 18px;
    box-sizing: border-box;
    outline-color: #49576f36;
    background-color: #b4ab93;
    border-radius: 3px;
    color: #4b4b4b;
    width: 380px;
    display: block;
    margin: 30px auto;
}

.input::-webkit-input-placeholder {
    color: #bab8b8;
    font-style: italic;
}

.flex_img{
    display: flex;
    justify-content: center;
}

.flex_img img{
    width: 180px;
    height: 180px;
}